{# templates/navigation.html #}
<nav class="p-4 bg-teal-400">
    <div class="grid grid-flow-col auto-cols-max gap-6">
        <a href="{{ url_for('home') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-200">Home</a>
        <a href="{{ url_for('projects') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-200">Projects</a>
        <a href="{{ url_for('blog') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-200">Blog</a>
        <a href="{{ url_for('braindump') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-200">Brain Dump</a>
    </div>
</nav>