<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Thiery Jean's personal portfolio">
    <meta name="author" content="Thierry Jean">
    <title>Thierry Jean's portfolio</title>

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
</head>

<body class="bg-amber-50">
    <!-- Navigation -->
    <nav class="p-4 bg-teal-400 max-w-3xl ml-auto mr-auto border-b rounded-b-md">
        <div class="grid grid-flow-col auto-cols-max gap-6">
            <a href="{{ url_for('home') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Home</a>
            <a href="{{ url_for('projects') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Projects</a>
            <a href="{{ url_for('blogs') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Blog</a>
        </div>
    </nav>


    <main> 
        <div class="max-w-3xl ml-auto mr-auto pt-2">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>


