<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Thiery Jean's personal portfolio">
    <meta name="author" content="Thierry Jean">
    <title>Thierry Jean's portfolio</title>

    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="p-4 bg-teal-400 max-w-3xl ml-auto mr-auto pb-2">
        <div class="grid grid-flow-col auto-cols-max gap-6 list-reset">
            <ul>
                <li>
                    <a href="{{ url_for('home') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('projects') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Projects</a>
                </li>
                <li>
                    <a href="{{ url_for('blogs') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Blog</a>
                </li>
                <li>
                    <a href="{{ url_for('braindump') }}" class="font-bold px-3 py-2 rounded-lg hover:bg-slate-100 transition duration-100">Brain Dump</a>
                </li>
            </ul>
        </div>
    </nav>


    <main>
    {% block content %}
    <div class="max-w-3xl ml-auto mr-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
    </div>
    {% endblock %}
    </main>
</body>
</html>


