<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Thiery Jean's personnal portfolio">
		<meta name="author" content="Thierry Jean">
		<title>Thierry Jean's portfolio</title>
	
		<script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
	</head>
	<body>
		<header class="max-w-3xl ml-auto mr-auto pb-2">
			{% include "_navigation.html" %}
			</header>
		<main>
			<div class="max-w-3xl ml-auto mr-auto">
				<h2 class="text-2xl font-bold">Blog posts</h2>
				<ul>
					<a href="{{ url_for('blog_posts', path='hamilton_blog.html')}}" target="_blanks"><li>Hamilton</li></a>
				</ul>
				<a href="https://medium.com/@thijean/the-perks-of-creating-dataflows-with-hamilton-36e8c56dd2a" target="_blanks"><p>Read on Medium</p></a>
			</div>
		</main>
	</body>
</html>