{% extends "base.html" %}

<!-- Main Content -->
{% block content %}
  <div class="max-w-3xl ml-auto mr-auto">
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-1 p-6 border-r">
            <img class="object-contain h-48 w-48" src="/static/img/portrait.jpg" alt="portrait"></img>
            <h3 class="font-bold">Thierry Jean</h3>
            <p>M.Sc. student in Computational medicine</p>
            <p><a href="/static/tech_cv_2022-08.pdf" target="_blank">Resume</a></p>
            <div class="flex flex-row gap-1 pt-2">
              <a href="https://www.linkedin.com/in/thierry-jean/" target="_blank">
                <img class="object-scale-down h-8 w-8" src="/static/img/linkedin.png" alt="linkedin_icon"></img>
              </a>
              <a href="https://www.github.com/zilto" target="_blank">
                <img class="object-scale-down h-8 w-8" src="/static/img/github.png" alt="github_icon"></img>
              </a>
            </div>
        </div>
        <div class="col-span-2 p-6">
          A perpetual learner, I am curious and fascinated by us and the universe. Currently pursuing academic research in psychiatry, I use machine learning to forecast symptoms and impairments in clinical populations.  
        </div>
    </div>
  </div>
{% endblock %}