<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Thiery Jean's personnal portfolio">
		<meta name="author" content="Thierry Jean">
		<title>Thierry Jean's portfolio</title>
	
		<script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
	</head>
	<body>
		<header class="max-w-3xl ml-auto mr-auto pb-2">
			{% include "_navigation.html" %}
		</header>
		<main>
			<div class="max-w-3xl ml-auto mr-auto">
				<div class="grid grid-flow-dense xl:grid-cols-3 gap-2">
					{% for project in all_projects %}
					<div class="flex flex-col justify-between p-2 border rounded border-gray-400 bg-slate-200">
						<div class="mb-2">
							<div class="text-gray-900 font-bold text-xl mb-2"> {{ project.name }} </div>
							<p class="text-gray-700 text-base"> {{ project.description }} </p>
						</div>
						<div class="flex">
							<p class="flex-grow text-sm text-gray-500"> {{ project.created_at }} </p>
							<a href="{{ project.html_url }}" target="_blanks"><img class="flex-minmax w-8 h-8 p-1" src="/static/img/github.png"></a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</main>
	</body>
</html>