<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Thiery Jean's personnal portfolio">
		<meta name="author" content="Thierry Jean">
		<title>Thierry Jean's portfolio</title>
	
		<script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
	</head>
	<body>
		{% include "_navigation.html" %}
		<h2 class="p-6 text-2xl font-bold">Projects</h2>
		<div class="p-5 grid grid-flow-dense xl:grid-cols-3 gap-2">
			{% for project in all_projects %}
			<div class="flex flex-col justify-between p-3 border rounded border-gray-400 bg-slate-200">
				<div class="mb-2">
					<div class="flex">
						<div class="flex-grow text-gray-900 font-bold text-xl mb-2"> {{ project.name }} </div>
						<a href="{{ project.html_url }}" target="_blanks"><img class="flex-minmax w-8 h-8 p-1" src="/assets/github.png"></a>
					</div>
					<p class="text-gray-700 text-base"> {{ project.description }} </p>
				</div>
				<div>
					<p class="text-sm text-gray-500"> {{ project.created_at }} </p>
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>