<div class="flex flex-col justify-between p-2 border rounded border-gray-400 bg-slate-200">
    <div class="mb-2">
        <div class="text-gray-900 font-bold text-xl mb-2"> {{ project.name }} </div>
        <p class="text-gray-700 text-base"> {{ project.description }} </p>
    </div>
    <div class="flex">
        <p class="flex-grow text-sm text-gray-500"> {{ project.created_at }} </p>
        <a href="{{ project.html_url }}" target="_blanks"><img class="flex-minmax w-8 h-8 p-1" src="/static/img/github.png"></a>
    </div>
</div>