{% extends "projects.html" %}

<!--Card 1-->
{% block project_c %}
<div class=" w-full lg:max-w-full lg:flex">
    <div class="h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/mountain.jpg')" title="Mountain">
    </div>
    <div class="border rounded-b border-gray-400 bg-white p-4 flex flex-col justify-between leading-normal">
    <div class="mb-0">
        <div class="flex">
            <div class="flex-grow text-gray-900 font-bold text-xl mb-2"> {{ project.name }} </div>
            <a href="{{ project.html_url }}" target="_blanks"><img class="flex-none w-10 h-10 rounded-full mr-4" src="/assets/github.png"></a>
        </div>
        <p class="text-gray-700 text-base"> {{ project.description }} </p>
    </div>
    <div class="flex items-center">
        <div class="text-sm">
        <p class="text-gray-600"> {{ project.created_at }} </p>
        </div>
    </div>
    </div>
</div>
{% endblock %}